@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
}

.banner {
  background-color: off white;
}

body {
  font-family: Mulish;
}

.navbar {
  background-color: white;
}

.collapse navbar-collapse {
  float: right;
  color: black;
}

.justify-content-end :hover {
  color: black;
}

.justify-content-end {
  font-size: 28px;
  letter-spacing: 1px;
}

.nav-item {
  margin-left: 100px;
}

.nav-link {
  color: black;
}

p {
  margin-right: 2px;
}

.dropdown {
  margin-top: 40px;
  box-shadow: -5px -5px -10px #f9f9f9;
}

.dropdown-menu {
  border: none !important;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 125%;
  padding-top: 5px;
}

.dropdown-item:hover {
  background-color: #fffaed !important;
}

.box {
  width: 100%;
  padding-top: 20%;
}

.banner h1 {
  font-size: 66px;
  color: black;
  margin-left: 100px;
  margin-top: 200px;
}

.banner p {
  color: #73777b;
  margin-left: 100px;
  font-size: 30px;
}

.banner img {
  display: flex;
  float: right;
  width: 105%;
  height: 100%;
}

.box-search input {
  border: 0;
  outline: none;
  color: #8b7d77;
  background-color: #f9f9f9;
}

.box-search {
  margin-top: 7%;
}

.banner-text {
  margin-bottom: 7%;
}

.search_wrap {
  width: 100%;
  /* margin-left: 72px; */
}

.search_wrap .search_box {
  position: relative;
  width: 100%;
  height: 60px;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: black;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn :hover {
  background: white;
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn {
  width: 125px;
  height: 45px;
  top: 8px;
  right: 10px;
  border-radius: 10px;
  color: white;
}

.bannerimg {
  width: 100%;
}

.menu {
  position: relative;
}

.menu-image {
  position: absolute;
  left: 0;
}

.menu-swipe {
  position: relative;
  margin-top: 50px;
}

.menu-swipe h2 {
  display: flex;
  float: right;
}

.menu-img {
  width: 100%;
}

@media screen and (max-width: 780px) {
  .menu-img {
    width: 80%;
  }
}

.menu_swipe .container h1 {
  margin-top: 200px;
}

.container .dishes {
  margin-top: 80px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide.brand {
  margin-top: 80px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide h4 {
  float: left;
  margin-top: 8px;
}

.swiper-slide h5 {
  display: flex;
  float: right;
  margin-top: 8px;
  color: #73777b;
}

.card {
  width: 13em;
  height: 16em;
  background-color: #fffaed;
  border-radius: 2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  margin-top: 30px;
}

.card:hover {
  background-color: black;
  color: #fffaed;
}

.card img {
  width: 4em;
  height: 4em;
  color: #fffaed;
  background-color: white;
  border-radius: 100%;
}

.card:hover img {
  background-color: #fffaed;
}

.card__image {
  width: 6em;
  height: 6em;
  border: 20px solid white;
  border-radius: 50%;
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card img :hover {
  color: white;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 0.2em;
}

.card__btn {
  background-color: black;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
}

.dishes {
  margin-top: 40px;
  position: relative;
}

.dishes h2 {
  float: right;
  margin-bottom: 4px;
}

.dishes h1 {
  margin-bottom: 30px;
}

.dishes .card {
  width: 40em;
  height: 16em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dishes .card img {
  object-fit: cover;
}

.dishes .card:hover {
  background-color: black;
  color: #fffaed;
}

.dishes .card img {
  width: 20em;
  height: 16em;
  background-color: none;
  border-radius: none;
}

.dishes card:hover img {
  background: none;
}

.brand {
  margin-top: 150px;
  position: relative;
}

.brand h2 {
  float: right;
  z-index: 8;
  position: relative;
}

.popular-dish {
  z-index: 8;
}

.brand-image {
  position: absolute;
  right: 0;
}

.brand-img {
  width: 100%;
}

@media screen and (max-width: 780px) {
  .brand-img {
    width: 80%;
  }
  .testimonial-img {
    margin-left: 0 !important;
    width: auto !important;
  }

  .footer.box-search {
    width: 100%;
  }

  .navbar-nav.justify-content-end.flex-grow-1.pe-3 {
    width: 100%;
  }
  /* .testimonial-row {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  } */
}

.App.container {
  margin-bottom: 30px;
  margin-top: 160px;
}

.App.row {
  padding: 5%;
  padding-top: 0.1%;
  border: 1px solid;
  background: #fffaed;
  border-radius: 50px;
}

.App.banner-text {
  margin-top: 60px;
}

.App-image img {
  margin-top: 60px;
  left: 0;
  display: flex;
  float: left;
}

.App.banner-text h1 p {
  margin-top: 30px;
}

.testimonial {
  margin-top: 150px;
}

.testimonial h1 {
  position: relative;
}

.testimonial-cards {
  position: relative;
}
.testimonials-card-info {
  background-color: white;
  border-radius: 10%;
  border: 1px solid gray;
  padding: 5%;
  transition: ease-in-out 0.4s;
  margin-bottom: 6%;
}
.testimonials-card-info:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.testimonial-text {
  text-align: center;
  margin-top: 8%;
}
.testimonial-text span {
  margin-right: 340px;
  font-size: 50px;
  margin-bottom: 20px;
}
.testimonial-name {
  font-weight: 800;
}
.testimonial-img {
  margin-left: 50%;
  width: 50%;
  margin-bottom: 10%;
}
.test.card {
  border-radius: 25px;
  color: black;
  background-color: white;
  width: 27em;
  height: 30em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 4em 3em;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.test.card h2 {
  display: flex;
}

.test.user-name h2 {
  display: flex;
  float: left;
  margin-right: 20px;
}

.test.card p {
  color: #8b7d77;
  font-size: 20px;
}

.test.card p :hover {
  color: #8b7d77;
}

.test.card :hover {
  color: black;
}

.test.card-image {
  float: right;
  padding: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: white;
  margin-bottom: 8em;
}

.test.test.card-image.card-img img {
  display: flex;
  float: right;
  margin-left: 5px;
}

.test.card-image .test.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.footer {
  background-color: #fffaed;
}

.footer {
  margin-top: 300px;
  padding: 3%;
}

.news-letter p {
  font-size: 23px;
}

.footer.box-search {
  width: 600px;
}

/* .footer.container.input {
  display: flex;
  float: left;
} */

.foot.container {
  width: 100%;
  background-color: black !important;
  margin: auto !important;
}

.foot.row {
  display: flex !important;
  flex-wrap: wrap !important;
}

.foot.row ul {
  list-style: none;
}

.foot.footer {
  margin-top: 0;
  background-color: black;
  color: white;
  padding: 70px 0;
}

.foot.footer-col {
  width: 25%;
  padding: 0 15px;
}

.foot.col-sm-3.col-xs-12 img {
  margin-bottom: 20px;
}

.foot.col-sm-3.col-xs-12 span {
  font-size: 25px;
  margin-top: 20px;
  margin-right: 20px;
  color: white;
}

.foot.col-sm-3.col-xs-12 h4 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.foot.container span p {
  margin: auto;
}

.foot.col-sm-3.col-xs-12 h4 ::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
}

.foot.col-sm-3.col-xs-12 ul li {
  margin-right: 5px;
  left: 0;
  position: relative;
}

.foot.col-sm-3.col-xs-12 ul li a {
  color: #fff;
  text-decoration: none;
}
